<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PipeWatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PipeWatch.Properties.Settings>
            <setting name="GitUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="GitApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="WatchProjects" serializeAs="String">
                <value />
            </setting>
        </PipeWatch.Properties.Settings>
    </userSettings>
</configuration>